.sociais {
  display: flex;
  gap: 0.5rem;
}

.social {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}

.social:hover {
  transform: scale(1.1);
}

.social img {
  filter: brightness(0) invert(1);
}

.whatsapp {
  background-image: linear-gradient(to bottom, #2cf06f, #099739);
}



@media (max-width: 1150px) {
  .social {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 992px) {
  .sociais {
    display: none;
  }
}
